<!-- tidak menggunaakan bootstrap -->
<h2>Makanan Favoritku</h2>
<!-- add form input -->
<div>
	<label>Food name:
		<input #foodName />
	</label>
	<button (click)="add(foodName.value); foodName.value=''">Add</button>
</div>
<ul class="lapers">
  <li *ngFor="let laper of lapers">
    <a routerLink="/detail/{{laper.id}}">
      <span class="badge">{{laper.id}}</span> {{laper.name}}
    </a>
    <button class="delete" title="delete laper" (click)="delete(laper)">x</button>
  </li>
</ul>

<!-- <ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
    <button class="delete" title="delete hero"
      (click)="delete(hero)">x</button>
  </li>
</ul>
 -->